<div class="footer ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-logo-area">
                    <a href="/"><img src="~/assets/images/tarinpood-logo.jpg" alt="تارین پود" style="border-radius : 5px;"></a>
                    <p style="text-align:justify;">مجموعه تارین پود در سال ۱۳۸۵ با استفاده از دستگاه های مجهز و با تکنولوژی روز دنیا با توانایی دریافت و تکمیل انواع پارچه توانسته است حضور خود را جهت تامین پارچه های بیمارستانی،اداری و ... اعلام نماید..</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-links footer-lp footer-services">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">صفحه اصلی</a></li>
                        <li><a asp-controller="product" asp-action="index">محصولات</a></li>
                        <li><a asp-controller="home" asp-action="about">درباره ما</a></li>
                        <li><a asp-controller="home" asp-action="Contact">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-links footer-contact">
                    <h3>اطلاعات تماس</h3>
                    <div class="footer-contact-card">
                        <i class="flaticon-phone-call"></i>
                        <h6>تلفن</h6>
                        <p><a href="tel:09127768545">09127768545</a></p>
                    </div>
                    <div class="footer-contact-card">
                        <i class="flaticon-email"></i>
                        <h6>ایمیل</h6>
                        <p><a href="mailto: info@Tarinpod.ir">info@Tarinpod.ir</a></p>
                    </div>
                    <div class="footer-contact-card">
                        <i class="flaticon-location"></i>
                        <h6>موقعیت</h6>
                        <p><a href = "#">بازار بزرگ، بازار عباس آباد، سرای قائم، طبقه۲ پلاک۱۱۹</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="copyright">
    <div class="container">
        <p>
            کپی رایت @@
            <script>document.write(new Date().getFullYear())</script> تمام حقوق برای شرکت تارین پود محفوظ است. طراحی و توسعه توسط تیم <a href="https://www.ofoghcode.ir" target="_blank">افق </a>
        </p>
    </div>
</div>


<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>


<div class="popup">
    <div class="popup-content">
        <div class="close-btn" id="popup-close">
            <span></span>
            <span></span>
        </div>
       @*  <form>
            <div class="input-group search-box">
                <input type="text" class="form-control" placeholder="جستجو">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form> *@
    </div>
</div>