<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="تارین پود,جواد خلیلی,tarinpood">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="مجموعه تارین پود در سال ۱۳۸۵ با استفاده از دستگاه های جرفر و با تکنولوژی روز دنیا با توانایی دریافت و تکمیل انواع پارچه توانسته است حضور خود را جهت تامین انواع پارچه اعلام نماید..">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="تارین پود">
    <meta property="og:description" content="مجموعه تارین پود در سال ۱۳۸۵ با استفاده از دستگاه های جرفر و با تکنولوژی روز دنیا با توانایی دریافت و تکمیل انواع پارچه توانسته است حضور خود را جهت تامین پارچه اعلام نماید..">
    <meta property="og:url" content="https://tarinpood.ir/">
    <meta property="og:site_name" content="شرکت عرشه سازان طاها">
    <meta property="og:updated_time" content="2022-10-31T23:55:23+03:30">
    <meta property="og:image" content="https://tarinpood.ir/logo3.png">
    <meta property="og:image:secure_url" content="~/img/tarinpood-logo.jpg">
    <meta property="og:image:width" content="476">
    <meta property="og:image:height" content="476">
    <meta property="og:image:alt" content="تارین پود">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:title" content="تولیدی پارچه تارین پود">
    <meta name="twitter:description" content="مجموعه تارین پود در سال ۱۳۸۵ با استفاده از دستگاه های جرفر و با تکنولوژی روز دنیا با توانایی دریافت و تکمیل انواع پارچه توانسته است حضور خود را جهت تامین پارچه اعلام نماید..">
    <meta name="twitter:image" content="~/img/tarinpood-logo.jpg">
    <meta name="twitter:label1" content="نویسنده">
    <meta name="twitter:data1" content="مدیر سایت">
    <meta name="twitter:label2" content="زمان خواندن">
    <meta name="twitter:data2" content="کمتر از یک دقیقه">
    @* <link rel="icon" href="~/img/tarinpood-logo.jpg"> *@
    <link rel="apple-touch-icon" href="~/img/tarinpood-logo.jpg">
    <meta name="msapplication-TileImage" content="~/img/tarinpood-logo.jpg">
    


    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsome.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/rtl.css">
    <title>@ViewData["Title"] - تارین پود</title>
    <link rel="icon" type="image/png" href="~/img/tarinpood-logo.jpg">
</head>
<body>

    <div id="pre-loader">
        <img class="preloader-img" src="~/assets/images/preloader2.gif" alt="تارین پود" />
    </div>

    <!--Header-->
    <partial name="_HeaderPartial" />
    <!--/Header-->


    <!--Main-->
    @RenderBody()

    <!--/Main-->

    <!--Footer-->
    <partial name="_FooterPartial" />
    <!--/Footer-->


    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/meanmenu.js"></script>
    <script src="~/assets/js/owl.carousel2.thumbs.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <script src="~/assets/js/TweenMax.js"></script>
    <script src="~/assets/js/nice-select.min.js"></script>
    <script src="~/assets/js/form-validator.min.js"></script>
    <script src="~/assets/js/contact-form-script.js"></script>
    <script src="~/assets/js/ajaxchimp.min.js"></script>
    <script src="~/assets/js/appear.min.js"></script>
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/tilt.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

