@{
    ViewData["Title"] = "";
}

<div class="uni-banner product-uni-banner">
    <div class="container-fluid container-large">
        <div style="text-align:center;" class="uni-banner-text-area">
            <h2>جزئیات محصول</h2>
            <ul>
                <li><a href="/">خانه</a></li>
                <li>جزئیات محصول</li>
                <li>جزئیات محصول</li>
            </ul>
        </div>
    </div>
</div>


<div class="product-details ptb-100">
    <div class="container">
        <div class="product-details-top-area">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-info-image-area">
                        <img src="assets/images/products/product1.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-details-info-area pl-20">
                        <h3>اپل واچ سری 11</h3>
        
                        <div class="sidebar-card sidebar-download mt-30">
                            <h4>توضیحات محصول</h4>
                            <p style="text-align:justify;">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                        </div>

                        <div class="sidebar-card sidebar-download mt-30">
                            <h4>ویژگی های محصول</h4>
                            <div class="pdit-list">
                                <div class="pdit-list">
                                    <ul>
                                        <li><span>شناسه:</span> 0001</li>
                                        <li><span>دسته بندی:</span> ساعت مچی</li>
                                        <li><span>برچسب ها:</span> برقی، دستی</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <a class="default-button" href="category.html"><span>مشاوره و سفارش محصول <i class="flaticon-cart"></i></span></a>
                        <div class="product-details-social-icons">
@*                             <ul>
                                <li><span>اشتراک گذاری:</span></li>
                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
 *@                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-description bg-f9f9f9 pb-100">
 
</div>


<div class="products ptb-100">
    <div class="container">
        <div class="default-section-title default-section-title-middle">
            <span>آخرین محصولات</span>
            <h3>آخرین محصولات</h3>
        </div>
        <div class="section-content">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="team-card-2">
                            <div class="team-card-img">
                                <img src="~/assets/images/products/product3.jpg" alt="image">
                            </div>
                            <div class="team-card-text-2">
                                <div class="team-card-text-intro">
                                    <h4>جردن مایکل</h4>
                                </div>
                                <div class="social-icons">
                                    <a class="product-cart-btn" href="cart.html"><i class="flaticon-cart"></i></a>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="team-card-2">
                            <div class="team-card-img">
                                <img src="~/assets/images/products/product3.jpg" alt="image">
                            </div>
                            <div class="team-card-text-2">
                                <div class="team-card-text-intro">
                                    <h4>جردن مایکل</h4>
                                </div>
                                <div class="social-icons">
                                    <a class="product-cart-btn" href="cart.html"><i class="flaticon-cart"></i></a>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="team-card-2">
                            <div class="team-card-img">
                                <img src="~/assets/images/products/product3.jpg" alt="image">
                            </div>
                            <div class="team-card-text-2">
                                <div class="team-card-text-intro">
                                    <h4>جردن مایکل</h4>
                                </div>
                                <div class="social-icons">
                                    <a class="product-cart-btn" href="cart.html"><i class="flaticon-cart"></i></a>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="team-card-2">
                            <div class="team-card-img">
                                <img src="~/assets/images/products/product3.jpg" alt="image">
                            </div>
                            <div class="team-card-text-2">
                                <div class="team-card-text-intro">
                                    <h4>جردن مایکل</h4>
                                </div>
                                <div class="social-icons">
                                    <a class="product-cart-btn" href="cart.html"><i class="flaticon-cart"></i></a>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
