@{
    ViewData["Title"] = "درباره ما";
}


<div class="uni-banner">
    <div class="container-fluid container-large">
        <div style="text-align:center;" class="uni-banner-text-area">
            <h2>درباره ما</h2>
            <ul>
                <li><a href="/">خانه</a></li>
                <li>درباره ما</li>
            </ul>
        </div>
    </div>
</div>


<div class="about ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text-area pr-30">
                    <div class="default-section-title">
                        <span>درباره ما</span>
                        <h3>نساجی تارین پود</h3>
                        <h5 style="text-align:justify;">
                            مجموعه تارین پود در سال ۱۳۸۵ با استفاده از دستگاه های مجهز و با تکنولوژی روز دنیا با توانایی دریافت و تکمیل انواع پارچه توانسته است حضور خود را جهت تامین پارچه های <b>بیمارستانی</b> ، <b>اداری</b> ، <b>فرم</b> ، <b>صنعتی</b> ، <b>کارگاهی</b> و <b>مدارس</b> اعلام نماید.
                        </h5>

                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-img-area">
                    <img src="assets/images/about/about-1.jpg" alt="تارین پود">
                    <div class="about-img-text">
                        <i class="flaticon-badge"></i>
                        <h4>17 سال</h4>
                        <p>تجربه کاری</p>
                    </div>
                </div>
            </div>

        </div>
        <h3 style="margin-top : 20px;">تولید و عرضه : </h3>
        <div class="about-list">
            <ul>
                <li>پارچه کجراه</li>
                <li>پارچه ترگال</li>
                <li>پارچه تترون</li>
                <li>پارچه پلیسترپنبه</li>
                <li>پارچه کتان</li>
                <li>پارچه ویسکوز</li>
            </ul>
        </div>


      
    </div>
</div>

<div class="container" id="about-manager">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="about-img-area-3">
                <img src="assets/images/about/about1.jpg" alt="تارین پود">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-text-area-3 pl-20">
                <div class="default-section-title">
                    <span>مدیریت</span>
                    <h3>جواد خلیلی</h3>
                    <h5 style="text-align:justify;">
                        از زمانی که در نساجی تارین پود فعالیت خود را آغاز نموده سعی کرد به طور جدی در راستای موفقیت قدم نهاده تا بتواند رضایت مندی مشتریان را بدست آورد.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>