@{
    ViewData["Title"] = "تماس با ما";
}

<div class="uni-banner">
    <div class="container-fluid container-large">
        <div style="text-align:center;" class="uni-banner-text-area">
            <h2>تماس با ما</h2>
            <ul>
                <li><a href="/">خانه</a></li>
                <li>تماس با ما</li>
            </ul>
        </div>
    </div>
</div>



<div class="contact ptb-100">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-12">
                <div class="customer-support-area">
                    <h3 style="text-align:center;">پشتیبانی مشتری</h3>
                    <p style="text-align:center;">به کمک نیاز دارید؟ با ما در تماس باشید.</p>
                    <div class="row">

                        <div class="col-lg-6">
                            <h4>راه های ارتباطی</h4>

                            <ul class="contact-list">
                                <li><i class="flaticon-phone-call"></i><a>تلفن:</a></li>
                                <li><a href="tel:09127768545 ">09127768545 </a></li>
                                <li><a href="tel:09129382738">09129382738</a></li>
                                <li><a href="tel:09129573107">09129573107</a></li>
                                <li><a href="tel:55588266 ">55588266 </a></li>
                                <li><a href="tel:55194387 ">55194387 </a></li>
                                <li><a href="tel:۵۵۱۹۴۳۸۹ ">۵۵۱۹۴۳۸۹ :فکس</a></li>
                                <li><a href="tel:۰۹۱۳۵۵۷۵۱۱۴ ">تلفن کارخانه اصفهان ۰۹۱۳۵۵۷۵۱۱۴ </a></li>

                                <li><a href="mailto: info@Tarinpood.ir">info@Tarinpood.ir</a> <i class="flaticon-email"></i></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h4>آدرس</h4>

                            <ul class="contact-list">

                                <li><i class="flaticon-location"></i><a>آدرس:</a></li>
                                <li>تهران، بازار بزرگ، بازار عباس آباد، سرای قائم، طبقه 2 پلاک 119</li>

                                <li><i class="flaticon-location"></i><a>انبار تهران:</a></li>
                                <li>تهران، ازادگان، شهرک صنعتی چهاردانگه خیابان پیامبر اعظم کوچه گلستان پلاک 21</li>

                                <li><i class="flaticon-location"></i><a>کارخانه :</a></li>
                                <li>اصفهان، خیابان جی، خیابان مالک اشتر پلاک ۵۸۹ شرکت نساجی تارین پود</li>
                            </ul>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

