
   
    <div class="error ptb-100 border-b">
        <div class="container">
            <div class="error-content">
                <img src="~/assets/images/error.gif" alt="image">
                <h4>صفحه مورد نظر یافت نشد!</h4>
                <p>صفحه ای که به دنبال آن هستید منتقل، حذف، تغییر نام داده شده است یا هرگز وجود نداشته است. اما شما می توانید برای به روز رسانی های بیشتر و پیشنهادات خوشحال کننده ما را مشترک کنید!</p>
                
                <a class="default-button" href="/"><span>بازگشت به خانه</span></a>
            </div>
        </div>
    </div>